/.idea
/.git
/src/expo/public/hot
/src/expo/public/storage
/src/expo/storage/*.key
/src/expo/vendor
/src/expo/composer.lock
/src/expo/node_modules
/src/expo/package-lock.json
/src/expo/phpunit.result.cache
/src/expo/Homestead.json
/src/expo/Homestead.yaml
/src/expo/npm-debug.log
/src/expo/yarn-error.log
/src/expo/laravel-echo-server.lock
/node_modules
/docker/log
/docker/db
/docker/redis
/docker/process

